<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.Mapper.MenuMapper">

<!--    <select id="selectByIdList" resultType="com.example.springboot.entity.Menu">-->
<!--        SELECT-->
<!--            *-->
<!--        FROM-->
<!--            sys_menu-->
<!--        WHERE-->
<!--                id IN (-->
<!--                SELECT-->
<!--                    menu_id-->
<!--                FROM-->
<!--                    sys_role_menu-->
<!--                WHERE-->
<!--                    role_id = #{role_id})-->
<!--    </select>-->
</mapper>